<% if user_signed_in? %>
  
  <!-- modal -->
  <div class="modal fade" id="answerModal" tabindex="-1" aria-labelledby="answerModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">回答を追加する</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <%= form_with model: [@question, @question.answers.build] do |form| %>
                    <div class="answer-errors">
                    </div>
                    <div class="answer-title">
                    </div>
                    <div class="answer-content">
                    <%= form.label "回答", class: "form-label" %><br>
                    <%= form.text_area :content, class: "form-control content-modal" %>
                    </div>
                    <div class="answer-submit">
                    <%# form.submit "回答を追加", class: "btn btn-outline-success" %>
                    </div>
            </div>

            <div class="modal-footer">
            <button type="button" class="btn btn-outline-warning" data-bs-dismiss="modal">キャンセル</button>
                    <%= form.submit "回答を追加", class: "btn btn-outline-success" %>
            </div>
                <% end %>
        </div>
    </div>
  </div>
<% end %>
