<h1 class="all-title">みんなの質問</h1>
<div class="posts">
    <% @question.each do |q| %>
    <div class="card">
        <div class="card-body">
            <div class="card-title">
                <%= link_to q.title, question_path(q), data: { turbo: false } %>
            </div>
            <div class="card-subtitle">
                <i class="fa-regular fa-comment"></i><%= Answer.where(question_id: q.id).count %>
            </div>
        </div>
    </div>
    <% end %>
</div>
<%# link_to "edit", edit_question_path(q) %>
<%# link_to "delete", question_path(q), data:{ turbo_method: "delete", turbo_confirm: "Are you sure?" } %>

