@import "font-awesome";
//question & answer cards
body{
    width: 960px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.card{
    width: auto;
    height: auto;
    margin: 30px;
    padding: 20px;
}
.card-body{
    padding: 10px;
    &.answer{
        margin: 20px;
    }
}
.card-subtitle{
    margin: 5px;
    text-align: left;
}
.card-text{
    font-size: 18px;
    margin-top: 20px;
}

//answers
.answers-count{
    margin: 20px 20px 20px 20px;
}
.answer-menu{
    float: right;
}

//form
.question-form{
    margin: 50px 100px 50px 0px;
    .question-user{
        margin-top: 20px;
    }
    .question-content{
        margin-top: 20px;
    }
    .question-submit{
        margin-top: 20px;
    }    
}
.answer-form{
    margin: 100px;
    .answer-title{
        margin-top: 20px;
    }
    .answer-content{
        margin-top: 20px;
    }
    .answer-submit{
        margin-top: 20px;
    }
}
.form-control{
    resize: none;
    width: 500px;
    height: 40px;
    &.content{
        height: 200px;
    }
}

//some buttons
.back-button{
    margin: 50px 100px 100px 0px;
}
.go-to-form{
    text-align: center;
    #answer{
        float: none;
        width: 500px;
        height: 50px;
    }    
}

