body{
    width: 960px;
    margin: auto;
}
.all-title{
    margin-top: 20px;
}

.register-form{
    margin: 50px 100px 50px 0px;
    .register-user{
        margin-top: 20px;
    }
    .register-email{
        margin-top: 20px;
    }
    .register-password{
        margin-top: 20px;
    }
    .register-submit{
        margin-top: 20px;
    }    
}
.form-control{
    resize: none;
    width: 500px;
    height: 40px;
}
.back-button{
    margin: 50px 100px 100px 0px;
}

